.container
  .footer__wrap
    .footer__copyright Розробка сайту:
      <a href="https://smarto.agency/">smarto.agency</a>

    if decor === true
      .footer__decor
        +img('two-leaflet.png')

