extends ../layout/main
block variable
  -
    var title_page = 'Документы'
    var id_page = 'doc-page'
    var color = "white"

block meta
  title= 'Документы'
  meta(name='description', content='')
block head
  link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(src='./assets/scripts/index.js')
  script(src="./assets/scripts/doc.js")

block content
  //- .fixed-content.fixed-content--end
  //-   .container
  //-     .socials.socials--fixed
  //-       .container
  //-         .socials__title © 2020 Smile Development
  //-         a(href="https://www.facebook.com/optimisto.com.ua").socials__link.socials__link--inst
  //-           +svg('inst')
  //-         a(href="https://www.instagram.com/optimisto.com.ua/?hl=ru").socials__link.socials__link--fb
  //-           +svg('fb')
  //-     .phone.phone--green
  //-       a.phone__link(href='tel:0442992203')
  //-         span.phone__text (044) 299-22-03
  //-         span.btn-round.phone__btn
  //-           +svg('phone')
  section.doc.section.offset-top
    .container
      .doc__content
        .date.offset-left
        .doc__main
          .doc__title.page-title Документація
          .doc__list
            .doc__item
              a(href="#").doc__item-link
                .doc__item-count 01
                .doc__item-title Дозвіл на будівництво
                a(href="#").doc__item-triangle.btn-round--pink.btn-round
            .doc__item
              a(href="#").doc__item-link
                .doc__item-count 02
                .doc__item-title Дозвіл на будівництво
                a(href="#").doc__item-triangle.btn-round--pink.btn-round
            .doc__item
              a(href="#").doc__item-link
                .doc__item-count 03
                .doc__item-title Дозвіл на будівництво
                a(href="#").doc__item-triangle.btn-round--pink.btn-round
            .doc__item
              a(href="#").doc__item-link
                .doc__item-count 04
                .doc__item-title Дозвіл на будівництво
                a(href="#").doc__item-triangle.btn-round--pink.btn-round
            .doc__item
              a(href="#").doc__item-link
                .doc__item-count 05
                .doc__item-title Дозвіл на будівництво
                a(href="#").doc__item-triangle.btn-round--pink.btn-round
        div.doc--left
          a(href="./creator.html").link-with-triangle.doc__link Забудовник

    footer.footer
      include ../includes/footer.pug
block header
  header.header
    include ../includes/header.pug
block menu
  include ../includes/menu.pug

