extends ../layout/main
block variable
	-
		var id_page = 'slider-page'
		var color = 'white'
	
block meta
	title= 'Home'
	meta(name='description', content='')
block head
		link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
	script(src='./assets/scripts/index.js')
	script(src='./assets/scripts/main.js')
block content
	.fixed-content
		.container
			//- .socials.socials--fixed
			//- 	.container
			//- 		.socials__title © 2020 Smile Development
			//- 		a(href="https://www.instagram.com/optimisto.com.ua/?hl=ru").socials__link.socials__link--inst
			//- 			+svg('inst')
			//- 		a(href="https://www.facebook.com/optimisto.com.ua").socials__link.socials__link--fb
			//- 			+svg('fb')
			//- .fixed-content__triangle
			//- .fixed-content__phone.phone.phone--green.header__phone.js-header__phone
			//- 	a(href="tel:0442992203").phone__link
			//- 		span.phone__text (044) 299-22-03
			//- 		span.btn-round.phone__btn
			//- 			+svg('phone')
	section.intro
		.intro__socials
			.container
				.intro__socials-list
					a(href="#").intro__socials__link.intro__socials__link--viber
						+svg('viber')
					a(href="#").intro__socials__link.intro__socials__link--telegram
						+svg('telegrama')
					a(href="#").intro__socials__link.intro__socials__link--whatsapp
						+svg('whatsapp')
					a(href="#").intro__socials__link.intro__socials__link--skype
						+svg('skype')
		div(id="slider-1").intro__slider
			.intro__item
				svg.original(xmlns='http://www.w3.org/2000/svg' class="intro__bg")
					image(width='100%' height='100%' preserveaspectratio='xMidYMid slice' xlink:href='assets/images/home-bg.jpg' mask='url(#donutmask)')
				.intro__wrap
					.container
						.intro__promo
							.intro__promo-status
								span.intro__promo-status-current 01 /
								span.intro__promo-status-total  03
							h1.intro__title Житловий комплекс нової якості
							a(href="./intro.html").intro__btn.btn.btn--green.js-intro__btn Про проект
							.slider-controls
								.slider-controls__dots.intro-controls__dots
								.slider-controls__arrows
									button(type="button").slider-controls__left.intro-controls__left.btn-round.btn-round--white
									.slider-controls__block
										span Наступна 
										button(type="button").slider-controls__right.intro-controls__right.btn-round.btn-round--white
			.intro__item
				svg.original(xmlns='http://www.w3.org/2000/svg' class="intro__bg")
					image(width='100%' height='100%' preserveaspectratio='xMidYMid slice' xlink:href='assets/images/home-bg.jpg' mask='url(#donutmask)')
				.intro__wrap
					.container
						.intro__promo
							.intro__promo-status
								span.intro__promo-status-current 01 /
								span.intro__promo-status-total  03
							h1.intro__title Житловий комплекс нової якості
							a(href="./intro.html").intro__btn.btn.btn--green.js-intro__btn Про проект
							.slider-controls
								.slider-controls__dots.intro-controls__dots
								.slider-controls__arrows
									button(type="button").slider-controls__left.intro-controls__left.btn-round.btn-round--white
									.slider-controls__block
										span Наступна 
										button(type="button").slider-controls__right.intro-controls__right.btn-round.btn-round--white
			.intro__item
				svg.original(xmlns='http://www.w3.org/2000/svg' class="intro__bg")
					image(width='100%' height='100%' preserveaspectratio='xMidYMid slice' xlink:href='assets/images/home-bg.jpg' mask='url(#donutmask)')
				.intro__wrap
					.container
						.intro__promo
							.intro__promo-status
								span.intro__promo-status-current 01 /
								span.intro__promo-status-total  03
							h1.intro__title Житловий комплекс нової якості
							a(href="./intro.html").intro__btn.btn.btn--green.js-intro__btn Про проект
							.slider-controls
								.slider-controls__dots.intro-controls__dots
								.slider-controls__arrows
									button(type="button").slider-controls__left.intro-controls__left.btn-round.btn-round--white
									.slider-controls__block
										span Наступна 
										button(type="button").slider-controls__right.intro-controls__right.btn-round.btn-round--white
		<svg class="circle">
			<defs>
				<mask id="donutmask">
				<circle id="outer" cx="250" cy="250" fill="white" r="400"/>
				<circle id="inner" cx="250" cy="250" r="300"/>
				</mask>
			</defs>
		</svg>

block header
	header.header
		include ../includes/header.pug
block menu
	include ../includes/menu.pug

