extends ../layout/main
block variable
  -
    var title_page = 'Новости'
    var id_page = 'progress-page'
    var class_page = 'news-page'
    var color = "dark"

block meta
  title= 'Новости'
  meta(name='description', content='')
block head
  link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9nfM9ITx5m84p5GxlRoXa24A6jBOFe3U&libraries=&v=weekly")
  script(src='./assets/scripts/index.js')
  script(src="./assets/scripts/progress.js")
  script(src="./assets/scripts/news.js")
block content
  section.offset-top.news.progress.section
    //- .fixed-content.fixed-content--end
    //-   .container
    //-     .socials.socials--fixed
    //-       .container
    //-         .socials__title © 2020 Smile Development
    //-         a(href="https://www.facebook.com/optimisto.com.ua").socials__link.socials__link--purple.socials__link--inst
    //-           +svg('inst')
    //-         a(href="https://www.instagram.com/optimisto.com.ua/?hl=ru").socials__link.socials__link--purple.socials__link--fb
    //-           +svg('fb')
    //-     .phone.phone--green
    //-       a.phone__link.phone__link--purple(href='tel:0442992203')
    //-         span.phone__text (044) 299-22-03
    //-         span.btn-round.phone__btn
    //-           +svg('phone')
    .slider
      .container
        .date.offset-left
          .date__item
            .date__current 2020
            .date__dropdown
              button(type="button" data-year="2020").date__dropdown-item 2020
              button(type="button" data-year="2019").date__dropdown-item 2019
              button(type="button" data-year="2018").date__dropdown-item 2018
          .date__item
            .date__current.date__current--big Квітень
            .date__dropdown
              button(type="button" data-month="may").date__dropdown-item Травень
              button(type="button" data-month="april").date__dropdown-item Квітень
              button(type="button" data-month="september").date__dropdown-item Вересень
              button(type="button" data-camera="october").date__dropdown-item Жовтень
      .slider__wrap.more
        .slider__item.more__item
          .more__img
            .more__img-wrap
              +img('more-img.png')
            a(href="#").more__plus
              .more__cross
          .news__content
            .news__date 12.06.2020
            a(href="#").more__desc.news__desc Графік роботи відділу продажу на свята!
            .news__intro Графік роботи відділу продажу на новорічні свята!
        .slider__item.more__item
          .more__img
            .more__img-wrap
              +img('more-img.png')
            a(href="#").more__plus
              .more__cross
          .news__content
            .news__date 12.06.2020
            a(href="#").more__desc.news__desc Графік роботи відділу продажу на свята!
            .news__intro Графік роботи відділу продажу на новорічні свята!
        .slider__item.more__item
          .more__img
            .more__img-wrap
              +img('more-img.png')
            a(href="#").more__plus
              .more__cross
          .news__content
            .news__date 12.06.2020
            a(href="#").more__desc.news__desc Графік роботи відділу продажу на свята!
            .news__intro Графік роботи відділу продажу на новорічні свята!
        .slider__item.more__item
          .more__img
            .more__img-wrap
              +img('more-img.png')
            a(href="#").more__plus
              .more__cross
          .news__content
            .news__date 12.06.2020
            a(href="#").more__desc.news__desc Графік роботи відділу продажу на свята!
            .news__intro Графік роботи відділу продажу на новорічні свята!
        .slider__item.more__item
          .more__img
            .more__img-wrap
              +img('more-img.png')
            a(href="#").more__plus
              .more__cross
          .news__content
            .news__date 12.06.2020
            a(href="#").more__desc.news__desc Графік роботи відділу продажу на свята!
            .news__intro Графік роботи відділу продажу на новорічні свята!
        .slider__item.more__item
          .more__img
            .more__img-wrap
              +img('more-img.png')
            a(href="#").more__plus
              .more__cross
          .news__content
            .news__date 12.06.2020
            a(href="#").more__desc.news__desc Графік роботи відділу продажу на свята!
            .news__intro Графік роботи відділу продажу на новорічні свята!
        .slider__item.more__item
          .more__img
            .more__img-wrap
              +img('more-img.png')
            a(href="#").more__plus
              .more__cross
          .news__content
            .news__date 12.06.2020
            a(href="#").more__desc.news__desc Графік роботи відділу продажу на свята!
            .news__intro Графік роботи відділу продажу на новорічні свята!
      .slider-control
        button(typ="button").slider-control-left.slider-control-btn.btn-round.btn-round--pink
        button(typ="button").slider-control-right.slider-control-btn.btn-round.btn-round--pink

    footer.footer.footer--fixed
      include ../includes/footer.pug


block header
  header.header.header--dark
    include ../includes/header.pug
block menu
  include ../includes/menu.pug

