extends ../layout/main
block variable
    -
        var title_page = 'Ход'
        var id_page = 'progress-page'
        var breadcrumbsBtn = 'camera'
        var color = 'dark'
        var decor = true
	
block meta
    title= 'Ход'
    meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
    script(src='./assets/scripts/index.js')
    script(src="./assets/scripts/progress.js")
    script(src="./assets/scripts/news.js")

block content
    //- .fixed-content.fixed-content--end
    //-     .container
    //-         .socials.socials--fixed
    //-             .container
            //-         .socials__title © 2020 Smile Development
            //-         a(href="https://www.facebook.com/optimisto.com.ua").socials__link.socials__link--purple.socials__link--inst
            //-             +svg('inst')
            //-         a(href="https://www.instagram.com/optimisto.com.ua/?hl=ru").socials__link.socials__link--purple.socials__link--fb
            //-             +svg('fb')
            //- .phone.phone--green
            //-     a.phone__link.phone__link--purple(href='tel:0442992203')
            //-         span.phone__text (044) 299-22-03
            //-         span.btn-round.phone__btn
            //-             +svg('phone')
    .wrapper
        .gallery__preview-block 
            button(type="button").gallery__preview-content-show.btn.btn--green Переглянути звіт
            .gallery__preview-content
                .gallery__preview-content-close
                    button(type="button").menu__right-close.js-gallery__preview-content-btn-close
                        span.menu__right-close-text Закрити
                        span.btn-round.menu__right-close-icon
                            +svg('cross')
                .gallery__preview-content-list-title.title-with-linear Квітень 2020
                        +svg('linear')
                .gallery__preview-content-list
                    .gallery__preview-content-item
                        b 6-7 секция:
                        p Монтаж ПВХ конструкцій в 6 секції виконано на 50%
                        p Монтаж ПВХ конструкцій в 7 секції виконано на 90%
                        p Влаштування огорожі балконів виконано на 60%
                        p Штукатурні роботи в 6 секції виконано на 50%
                        p Штукатурні роботи в 7 секції виконано на 90%
                    .gallery__preview-content-item
                        b 8 СЕКЦІЯ:
                        p Влаштування залізобетонних конструкцій перекриття першого поверху
                    .gallery__preview-content-item
                        b 9 СЕКЦІЯ:
                        p Влаштування вертикальних залізобетонних конструкцій перекриття першого поверху
                    .gallery__preview-content-item
                        b БЛАГОУСТРІЙ:
                        p Ведуться роботи по благоустрою вздовж 5-7 секції, паралельно вул. Київська
        section.progress.section
            include ../includes/breadcrumbs.pug
            .slider
                .container
                    .date.offset-left
                        .date__item
                            .date__current 2020
                            .date__dropdown
                                button(type="button" data-year="2020").date__dropdown-item 2020
                                button(type="button" data-year="2019").date__dropdown-item 2019
                                button(type="button" data-year="2018").date__dropdown-item 2018
                        .date__item
                            .date__current.date__current--big Квітень
                            .date__dropdown
                                button(type="button" data-month="may").date__dropdown-item май
                                button(type="button" data-month="april").date__dropdown-item Квітень
                                button(type="button" data-month="september").date__dropdown-item Вересень
                                button(type="button" data-camera="october").date__dropdown-item Жовтень
                .slider__wrap.more
                    .slider__item.more__item.slider__item--progress
                        .more__img
                            .more__img-wrap
                                +img('more-img.png')
                            a(href="#").more__plus
                                .more__cross
                        a(href="#").more__desc Квітень 2020
                        a(href="#").slider__gallery
                            +svg('camera-icon')
                            span.slider__text 14
                    .slider__item.more__item.slider__item--progress
                        .more__img
                            .more__img-wrap
                                +img('more-img.png')
                            a(href="#").more__plus
                                .more__cross
                        a(href="#").more__desc Квітень 2020
                        a(href="#").slider__gallery
                            +svg('camera-icon')
                            span.slider__text 14
                    .slider__item.more__item.slider__item--progress
                        .more__img
                            .more__img-wrap
                                +img('more-img.png')
                            a(href="#").more__plus
                                .more__cross
                        a(href="#").more__desc Квітень 2020
                        a(href="#").slider__gallery
                            +svg('camera-icon')
                            span.slider__text 14
                    .slider__item.more__item.slider__item--progress
                        .more__img
                            .more__img-wrap
                                +img('more-img.png')
                            a(href="#").more__plus
                                .more__cross
                        a(href="#").more__desc Квітень 2020
                        a(href="#").slider__gallery
                            +svg('camera-icon')
                            span.slider__text 14
                    .slider__item.more__item.slider__item--progress
                        .more__img
                            .more__img-wrap
                                +img('more-img.png')
                            a(href="#").more__plus
                                .more__cross
                        a(href="#").more__desc Квітень 2020
                        a(href="#").slider__gallery
                            +svg('camera-icon')
                            span.slider__text 14
                    .slider__item.more__item.slider__item--progress
                        .more__img
                            .more__img-wrap
                                +img('more-img.png')
                            a(href="#").more__plus
                                .more__cross
                        a(href="#").more__desc Квітень 2020
                        a(href="#").slider__gallery
                            +svg('camera-icon')
                            span.slider__text 14
                    .slider__item.more__item.slider__item--progress
                        .more__img
                            .more__img-wrap
                                +img('more-img.png')
                            a(href="#").more__plus
                                .more__cross
                        a(href="#").more__desc Квітень 2020
                        a(href="#").slider__gallery
                            +svg('camera-icon')
                            span.slider__text 14
                .slider-control
                    button(typ="button").slider-control-left.slider-control-btn.btn-round.btn-round--pink
                    button(typ="button").slider-control-right.slider-control-btn.btn-round.btn-round--pink

            footer.footer.footer--fixed
                include ../includes/footer.pug

block header
    header.header.header--bordered
        include ../includes/header.pug
block menu
    include ../includes/menu.pug

