$default-font: 'Montserrat', sans-serif;
$gilroy: 'Gilroy', 'Arial', sans-serif;

$darkPurple: #240A3A;
$purple: #842990;
$orange: #F68A22;
$green: #85C441;
$pink: #EC008C;
$text: #786F79;
$yellow: #F7CE26;
$dark-white: #F4F4F2;
$light-purple: #E1D7E4;

