.date {
    margin-bottom: 56px;
    margin-top: -45px;
    display: flex;
    align-items: center;

    @include to(1440px) {
        margin-bottom: 70px;
    }

    @include to(770px) {
        margin-bottom: 56px;
    }

    @include to(480px) {
        position: relative;
        z-index: 5;
    }

    @include to(770px) {
        margin-left: 0;
    }

    &__item {
        position: relative;
        margin-right: 130px;

        &:last-child {
            margin-right: 0;
        }

        &:hover .date__dropdown {
            opacity: 1;
            z-index: 5;

            @include to(480px) {
                display: block;
            }
        }

        @include to(770px) {
            margin-right: 70px;
        }

        @include to(480px) {
            margin-right: 35px;
        }

        &:last-child {
            .date__dropdown {
                height: 200px;
                overflow: auto;
            }
        }
    }

    &__current,
    &__dropdown-item {
        position: relative;
        font-weight: 500;
        font-size: 23px;
        line-height: 1.5em;
        color: $text;

        @include to(1440px) {
            font-size: 20px;
        }
    }

    &__current {
        cursor: pointer;
        padding-left: 28px;


        &::before {
            position: absolute;
            left: 0px;
            content: "";
            width: 0;
            height: 0;
            top: 45%;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 7px solid #85C441;
            transform: rotate(90deg) translateX(-50%);
        }
    }

    &__dropdown {
        position: absolute;
        min-width: 100%;
        text-align: right;
        opacity: 0;
        transition: all .4s;
        z-index: -1;
        background-color: #fff;
        border-radius: 6px;
        padding-top: 5px;
        padding-right: 10px;
        padding-bottom: 10px;

        @include to(480px) {
            display: none;
            opacity: 1;
        }

        &-item {
            border: none;
            background-color: transparent;
            display: flex;
            justify-content: flex-end;
            padding: 5px 0;
            padding-left: 28px;
            cursor: pointer;

            &:hover {
                font-weight: 600;
                opacity: 0.8;
            }
        }
    }
}