.header {
	position: fixed;
	padding: 13px 0;
	left: 0;
	right: 0;
	z-index: 10;

	&--bg {
		
		@include to(800px) {
			background-color: #fff;
			box-shadow: 0px 4px 20px rgba(28, 73, 84, 0.15);
		}
	}

	.header__phone {
		@include to(480px) {
			position: relative;
		}
	}

	&__phone-mobile {
		transition: all .4s;
		width: 100%;
		position: absolute;
		left: 0;
		padding: 0;
		padding-right: 13px;
		right: 0;
		background-color: #70B02B;
		display: flex;
		border-radius: 40px;
		opacity: 0;
		z-index: -1;

		&-content {
			margin-left: 7px;
		}

		&__link {
			text-decoration: none;
			display: block;
			font-size: 10px;
			margin-top: 5px;
			line-height: 0.5em;
			color: #fff;
			font-weight: 600;
		}

		&-btn {
			padding: 0;
			font-size: 9px;
			line-height: 1.2em;
			color: #fff;
			border: none;
			background-color: transparent;
			border-bottom: 1px solid #fff;
		}

		&--show {
			opacity: 1;
			z-index: 3;
		}
	}

	&__wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		height: 90px;
		margin: 0 auto 0 0;

		img {
			width: auto;
			height: 100%;
		}

		@include to(1370px) {
			height: 73px;
		}

		@include to(770px) {
			height: 69px;
		}

		@include to(480px) {
			height: 50px;
		}

		@include to(320px) {
			height: 43px;
		}
	}

	&__right {
		position: relative;
		display: flex;
		align-items: center;

		&-list {
			display: flex;
			align-items: center;

			&--bordered {
				margin-right: 48px;
				padding-right: 48px;
				border-right: 2px solid rgba(#FDFEFF, 0.3);

				@include to(770px) {
					padding-right: 24px;
					margin-right: 24px;
				}

				@include to(600px) {
					display: none;
				}
			}
		}

		&-item {
			&:not(:last-child) {
				margin-right: 70px;
			}

			@include to(900px) {
				&-md-none {
					display: none;
				}
			}
		}

		&-link {
			font-size: 16px;
			text-transform: uppercase;
			display: flex;
			align-items: center;
			text-decoration: none;
			transition: all .4s;
			border-radius: 50px;
			padding-right: 25px;

			@include to(1440px) {
				font-size: 12px;
			}

			@include to(770px) {
				padding-right: 0;
			}

			&:hover {
				background-color: #752180;

				.header__right-link-text {
					color: #fff;
				}
			}

			&-text {
				transition: all .4s;
				font-weight: 600;
				color: #fff;
			}
		}

		&-link-icon {
			margin-right: 20px;

			svg {
				fill: fff;
			}

			&--key {
				svg	{

					width: 24px;
					height: 19px;

					@include to(1440px) {
						width: 14px;
						height: 15px;
					}
				}
			}

			&--camera {
				svg {
					width: 16em;
					height: 18px;

					@include to(1440px) {
						width: 11.5em;
						height: 15px;
					}
				}
			}
		}

		&-switcher {
			display: flex;
			align-items: center;
		}
	}

	&__language {
		margin-right: 38px;
	}

	&--dark {
		.header__right-link-text {
			color: $darkPurple;
		}

		.language {
			color: $darkPurple;
		}

		.language__select-item {
			color: #240A3A;
		}
	}

	&--bordered {
		.header__right-list--bordered {
			border-right: 2px solid #E1D7E4;
		}
	}
}