/*! locomotive-scroll v3.6.1 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
	overflow: hidden; 
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
	user-select: none; 
}

.has-scroll-smooth body {
	overflow: hidden; 
}

.has-scroll-smooth [data-scroll-container] {
	min-height: 100vh; 
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0; 
  z-index: 1000;
}
.c-scrollbar:hover {
	transform: scaleX(1.45); 
	}
.c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
	opacity: 1; 
	}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
	cursor: grab; 
}
.has-scroll-dragging .c-scrollbar_thumb {
	cursor: -webkit-grabbing;
	cursor: grabbing; 
}


@import './assets/vars';  // переменные
@import './assets/smart-grid';  // mixins smartgrid.js
// libraries
@import './libs';

// assets
@import './assets/mixins';  // миксины
@import './assets/fonts';  // шрифты
@import './assets/base';  // общие стили
@import './assets/animation';  // анимации
@import './assets/class'; // main style
@import './assets/interface'; // main style


// sass dima
@import './header';
@import './footer';
@import './404';
@import './intro.scss';
@import './language.scss';
@import './burger.scss';
@import './socials.scss';
@import './menu.scss';
@import './navigation.scss';
@import "./balance";
@import "./features";
@import './phone.scss';
@import "./promo";
@import './slider-controls.scss';
@import "more";
@import "overlay";
@import './loader';
@import './date.scss';
@import './slider.scss';

//pages
    @import "./pages/gallery.scss";
    @import './pages/camera.scss';
    @import './pages/progress.scss';
    @import './pages/contacts.scss';
    @import "./pages/location";
    @import "./pages/news";
    @import "./pages/doc";
    @import "./pages/news-single";
    @import "./pages/buy.scss";
    @import "./pages/infostructure.scss";
    @import "./pages/company.scss";
    @import './pages/creator.scss';
    @import "./pages/termination.scss";
    @import "./pages//building.scss";
    @import "./pages/3d.scss";
    @import "./pages/genplan.scss";
    @import "./pages/technical.scss";

#slider-page {
    .fixed-content {
        .container {
            justify-content: space-between !important;
        }
    }
    .fixed-content__phone {
        right: 50px;

        @include to(1440px) {
            right: 30px;
        }
    }
}
